<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.effone.mobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.ResApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AppointementBookingActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".Activity.LocationServiceActivity" />
        <activity android:name=".Activity.AppointmentAcknowledgementActivity" />
        <activity android:name=".Activity.AppointmentHistoryActivity" />
        <activity android:name=".Activity.AppointmentDetailsActivity" />
        <activity android:name=".Activity.RegisterActivity" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".Activity.NoNetworkActivity" />

       <!-- <receiver android:name=".receivers.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
-->

        <activity android:name=".Activity.MultipleLocationServiceActivity" />
        <activity android:name=".Activity.NetworkErrorActivity" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/customDialogTheme" />
        <activity android:name=".Activity.ResetNForgotActivity" />
        <activity android:name=".Activity.SearchAppointmentActivity"></activity>
    </application>

</manifest>